<li id="post-<%= post._id %>">
    <p>
        <% if(locals.user && (locals.user.id == post.user.id)) {%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
                    <i class="fa-regular fa-circle-xmark"></i>
                </a>
            </small>
        <%}%>
        <span class="post-content">
            <%= post.content %>
        </span>
        <br>
        <small>
            <%= post.user.name%>
            <% if(locals.user) {%>
            <a href="/like/post/<%= post.id %>" class="toggle-like">
                <% let liked = false %>
                <% for(like of post.likes){%>
                    <% if(like.user.toString() == locals.user.id) {%>
                        <% liked = true; %>
                        <% break %>
                    <%}%>
                <%}%>
                <% if(liked) {%>
                    <i class="like fa-solid fa-heart"></i>
                <%} else {%>
                    <i class="fa-solid fa-heart"></i>
                <%}%>
                <small>
                    <%= post.likes.length %>
                </small>
            </a>
            <%} else {%>
                <i class="fa-solid fa-heart"></i>
                <%= post.likes.length %>
            <%}%>
        </small>
    </p>
    <div class="post-comments">
        <% if(locals.user){%> 
            <form action="/comments/create" method="post">
                <!-- <label for="content">Comment: </label> -->
                <input type="text" name="content" placeholder="Type here to add comment...." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <button type="submit">Post</button>
            </form>
        <% } %>
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>">
                <% for (comment of post.comments){%>
                    <%- include('_comment'); %>
                <%}%>
            </ul>
        </div>
    </div>
</li>