<link rel="stylesheet" type="text/css" href="<%= assetPath('css/chatpage.css') %>">

<section id="page-body">
    <section id="friends-list">
        <% for(friendship of user.friendships){%>
            <p>
                <% let u %>
                <% if(friendship.from_user.id == locals.user.id){ %>
                    <% u = friendship.to_user %> 
                <% } else {%>
                    <% u = friendship.from_user %>
                <% } %>
                <% if(u.avatar){ %>
                    <img id="avatar" src="<%= u.avatar %>">
                <% } else { %>
                    <img id="avatar" src="<%= assetPath('images/avatar.png') %>">
                <%}%>
                <a class="friends" href="<%= u.id %>"><%= u.name %></a>
            </p>
        <%}%>
    </section>
    <section id="chatarea" from_user="<%=user.id%>">

    </section>
</section>

<script src="https://kit.fontawesome.com/00f7b763b3.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
<script src="<%= assetPath('js/chat_page.js') %>"></script>