<link rel="stylesheet" type="text/css" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
        <h4 id="post-heading">Posts</h4>
        <% if(locals.user){%>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type here..."  required></textarea>
                <button type="submit">Post</button>
            </form>
        <%} %>
        
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){%>
                    <%- include('_post.ejs'); %>
                <%}%>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <% if(!locals.user) {%>
            <h4>Users</h4>
            <% for(u of all_users){%>
                <p>
                    <% if(u.avatar){ %>
                        <img id="avatar" src="<%= u.avatar %>">
                    <% } else { %>
                        <img id="avatar" src="/images/avatar.png">
                    <%}%>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <%}%>
        <%} else {%>
            <h4>Friends</h4>
            <a id="requests-button" href="/requests/fetch">Requests</a>
            <% for(friendship of user.friendships){%>
                <p>
                    <% let u %>
                    <% if(friendship.from_user.id == locals.user.id){ %>
                        <% u = friendship.to_user %> 
                    <% } else {%>
                        <% u = friendship.from_user %>
                    <% } %>
                    <% if(u.avatar){ %>
                        <img id="avatar" src="<%= u.avatar %>">
                    <% } else { %>
                        <img id="avatar" src="/images/avatar.png">
                    <%}%>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <%}%>
        <%}%>
        
    </section>
</div>
<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>
<script src="/js/home_likes_toggle.js"></script>
<script>
    $('.toggle-like').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://kit.fontawesome.com/00f7b763b3.js" crossorigin="anonymous"></script>