<link rel="stylesheet" type="text/css" href="<%= assetPath('css/user_profile.css') %>">

<div id="user-details">
    <section>
        <% if(profile_user.avatar){ %>
            <img id="avatar" src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>">
        <% } else { %>
            <img id="avatar" src="<%= assetPath('images/avatar.png') %>" alt="<%= profile_user.name %>">
        <%}%>
    </section>


    <section id="user-details-text">
        <p>User Name: <%= profile_user.name %></p>
        <p>Email: <%= profile_user.email %></p>
        <% if(user.id == profile_user.id){%>
        <div id="update-buttons">
            <a href="/users/user_profile_update">Update Profile</a>
            <a href="/users/user_password_update">Change Password</a>
        </div>
        <%} else {%>
        <div id="update-buttons">
            <% if(friends) {%>
                <a href="/requests/remove-friend/<%= profile_user.id %>">Remove Friend</a>
            <%} else if(request_sent) {%>
                <a href="/requests/cancel-request/<%= profile_user.id %>">Cancel Request</a>
            <%} else {%>
                <a href="/requests/new_request/<%= profile_user.id %>">Add Friend</a>
            <%}%>
        </div>
        <%}%>
    </section>
</div>
